<template>
  <div class="d-flex flex-column flex-grow-1">
    <div class="d-flex align-center py-3">
      <div>
        <div class="display-1">Partner</div>
        <v-breadcrumbs :items="breadcrumbs" class="pa-0 py-2"></v-breadcrumbs>
      </div>
      <v-spacer></v-spacer>
      <v-btn
          color="primary"
          dark
          to="/partner"
        >
        <v-icon>mdi-arrow-left</v-icon>
          Kembali
        </v-btn>
    </div>

     <v-card>
        <v-card-title>
          <span class="headline">Edit Partner "{{ partner.data[0].partner_name }}"</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col
                cols="6"
                md="6"
              >
                <v-text-field
                  label="Partner Code*"
                  required
                  v-model="partner.data[0].partner_code"
                ></v-text-field>
                <v-text-field
                  label="Partner Name"
                  required
                  v-model="partner.data[0].partner_name"
                ></v-text-field>
                <v-text-field
                  label="Alias / External Name*"
                  required
                  v-model="partner.data[0].alias"
                ></v-text-field>
                <v-text-field
                  label="Email Partner*"
                  required
                  v-model="partner.data[0].email_partner"
                ></v-text-field>
                <v-autocomplete
                  :items="provincies"
                  label="Province*"
                  aria-required=""
                  item-text="nama"
                  item-value="nama"
                  @input="getKabupaten()"
                  v-model="partner.data[0].province"
                  return-object
                ></v-autocomplete>
                <v-autocomplete
                  :items="kabupatens"
                  label="City*"
                  aria-required=""
                  item-text="nama"
                  item-value="nama"
                  :placeholder="partner.data[0].city"
                  v-model="partner.data[0].city"
                ></v-autocomplete>
                <v-text-field
                  label="Zip No*"
                  required
                  v-model="partner.data[0].zip"
                ></v-text-field>
                <v-radio-group
                  v-model="partner.data[0].notification_to_ap"
                  row
                  label="Notification to AP"
                  >
                  <v-radio
                      label="Yes"
                      value="yes"
                  ></v-radio>
                  <v-radio
                      label="No"
                      value="no"
                  ></v-radio>
                </v-radio-group>
              </v-col>

              <v-col
                cols="6"
                sm="6"
              >
                <v-select
                  :items="partnerStatus"
                  label="Status*"
                  required
                  v-model="partner.data[0].status"
                ></v-select>
                <v-autocomplete
                  :items="npwpStatus"
                  label="NPWP Status"
                  v-model="partner.data[0].status_npwp"
                ></v-autocomplete>
                <v-textarea
                autocomplete="alamat"
                label="Address"
                v-model="partner.data[0].address_partner"
                ></v-textarea>
                <v-text-field
                  label="Contact Name*"
                  required
                  v-model="partner.data[0].name_contact"
                ></v-text-field>
                <v-text-field
                  label="Contact Number*"
                  required
                  v-model="partner.data[0].number_contact"
                ></v-text-field>
                <v-text-field
                  label="Email Contact*"
                  required
                  v-model="partner.data[0].email_contact"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-container>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="blue darken-1"
            @click="save"
          >
            Simpan
          </v-btn>
        </v-card-actions>
      </v-card>
  </div>
</template>


<script>
export default {
  created() {
    const t = localStorage.getItem("t")
    if (t === "crm") {
      // user loggged in
      // do nothing
    } else {
      this.$router.push('/login')
    }
  },
  name:"EditPartner",
  async asyncData({ $axios, params }) {
        const partner = await $axios.$get('/partners?id=' + params.id)
        console.log(partner)
        const provincies = await $axios.$get('/master/provincies')
        const kabupatens = await $axios.$get('/master/kabupatens')
        return { partner, provincies : provincies.data, kabupatens : kabupatens.data }
      },
  components: {
  },
  data() {
    return {
      isLoading: false,
      breadcrumbs: [{
        text: 'Partner',
        disabled: false,
        href: '#'
      }, {
        text: 'Edit Partner'
      }],

      searchQuery: '',
      selectedUsers: [],
      partnerStatus:["good","bad","warning"],
      categoryBusiness:[
        "Agriculture",
        "Retailer",
        "Health Practitioner",
        "Distributor",
        "Food Service",
        "Supplier or Raw Ingredient Distributor",
        "Manufacturer",
        "Business Service",
        ],
        kabupatens:[],
      npwpStatus:[
        "01. Penyerahan kepada selain Pemungut PPN",
        "02. Penyerahan kepada Pemungut PPN Bendaharawan Pemerintah",
        "03. Penyerahan kepada Pemungut PPN Lainnya (selain Bendaharawan Pemerintah)",
        "04. Penyerahan yang menggunakan DPP Nilai Lain kepada selain Pemungut PPN",
        "05. Penyerahan yang Pajak Masukannya di Deemed kepada selain Pemungut PPN",
        "06. Penyerahan lainnya kepada selain Pemungut PPN",
        "07. Penyerahan yang PPN atau PPN dan PPn BM-nya Tidak Dipungut kepada selain Pemungut PPN",
        "08. Penyerahan yang Dibebaskan dari pengenaan PPN atau PPN dan PPn BM kepada selain Pemungut PPN",
        "09. Penyerahan Aktiva Pasal 16D kepada selain Pemungut PPN",
      ]
    }
  },
  watch: {
    selectedUsers(val) {

    }
  },
  methods: {
    searchUser() {},
    open() {},
    async getKabupaten() {
      const kabupatens = await this.$axios.$get('/master/kabupatens?name=k&prov_id='+this.partner.data[0].province.id)
      this.kabupatens =  kabupatens.data
    },
    async save() {
      console.log(this.partner)
      try {
        let response = await this.$axios.$put('/partners/' + this.partner.data[0].id,
          {
            partner_code: this.partner.data[0].partner_code,
            partner_name: this.partner.data[0].partner_name,
            alias: this.partner.data[0].alias,
            category_business: this.partner.data[0].category_business,
            status: this.partner.data[0].status,
            address_partner: this.partner.data[0].address_partner,
            email_partner: this.partner.data[0].email_partner,
            status_npwp: this.partner.data[0].status_npwp,
            province: this.partner.data[0].province.nama,
            city: this.partner.data[0].city,
            zip: this.partner.data[0].zip,
            notification_to_ap: this.partner.data[0].notification_to_ap,
            name_contact: this.partner.data[0].name_contact,
            number_contact: this.partner.data[0].number_contact,
            email_contact: this.partner.data[0].email_contact,
          }
        )
        alert("Edit data berhasil");
      } catch (error) {
        alert(error.response);
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.slide-fade-enter-active {
  transition: all 0.3s ease;
}
.slide-fade-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
}
</style>
