<template>
  <div class="d-flex flex-column flex-grow-1">
    <div class="d-flex align-center py-3">
      <div>
        <div class="display-1">Partner</div>
        <v-breadcrumbs :items="breadcrumbs" class="pa-0 py-2"></v-breadcrumbs>
      </div>
      <v-spacer></v-spacer>
      <v-btn
          color="primary"
          dark
          to="/partner"
        >
        <v-icon>mdi-arrow-left</v-icon>
          Kembali
        </v-btn>
    </div>

    <v-card>
        <v-card-title>
          <span class="headline">Manage as Customer</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col
                cols="12"
                sm="6"
                md="6"
              >
                <v-text-field
                  label="Partner Type"
                  required
                  v-model="customer.partner_type"
                ></v-text-field>
                <v-text-field
                  label="Partner Code/ Name"
                  v-model="customer.partner_code"
                ></v-text-field>
                <v-text-field
                  label="Alias / External Name*"
                  required
                  v-model="customer.alias"
                ></v-text-field>
                <v-text-field
                  label="Address/ Lokasi*"
                  required
                  v-model="customer.address"
                ></v-text-field>
                <v-text-field
                  label="Email Customer*"
                  required
                  v-model="customer.email"
                ></v-text-field>
              </v-col>
              <v-col
                cols="11"
                md="5"
              >
                <v-text-field
                  label="Regular Discount"
                  required
                  @focusout="formatCurrencyDiscount(customer.regular_discount)"
                  v-model.number="customer.regular_discount"
                ></v-text-field>
                <v-select
                  :items="paymenMethods"
                  label="Payment Methods*"
                  required
                  v-model="customer.payment_methods"
                ></v-select>
                <v-text-field
                  label="Amount Limit*"
                  required
                  @focusout="formatCurrencyAmount(customer.amount_limit)"
                  v-model.number="customer.amount_limit"
                ></v-text-field>
                <v-radio-group
                v-model="customer.notification_to_ar"
                row
                label="Notification to AR"
                >
                <v-radio
                    label="Yes"
                    value="true"
                ></v-radio>
                <v-radio
                    label="No"
                    value="false"
                ></v-radio>
                </v-radio-group>
              </v-col>
              <v-col
                cols="1"
                md="1"
              ><br><p>%</p>
              </v-col>
            </v-row>
          </v-container>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="blue darken-1"
            @click="save"
          >
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
  </div>
</template>


<script>

export default {
  created() {
    const t = localStorage.getItem("t")
    if (t === "crm") {
      // user loggged in
      // do nothing
    } else {
      this.$router.push('/login')
    }
  },
  async asyncData({ $axios, params }) {
    const customer = await $axios.$get('/clients?partner_id=' + params.id)
    console.log(customer)
        if (customer.data[0] !== undefined) {
          let amountLimit = (customer.data[0].amount_limit/1).toFixed().replace('.', ',')
          let discount = (customer.data[0].regular_discount/1).toFixed().replace('.', ',')
          var amountLimitCurr = amountLimit.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
          var discountCurr = discount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
          customer.data[0].amount_limit = amountLimitCurr
          customer.data[0].regular_discount = discountCurr
          return { customer: customer.data[0] }
        }
      },
  components: {
  },
  data() {
    return {
      paymenMethods: ["cash", "cheque", "transfer", "giro"],
      isLoading: false,
      breadcrumbs: [{
        text: 'Partner',
        disabled: false,
        href: '#'
      }, {
        text: 'Manage as Customer'
      }],
      customer:{
          partner_id:"",
          partner_type: '',
          partner_code: "",
          alias: "",
          address: "",
          email: "",
          regular_discount: "0",
          payment_methods: "",
          amount_limit: "0",
          notification_to_ar: false
      },
      searchQuery: '',
      selectedUsers: [],
    }
  },
  watch: {
    selectedUsers(val) {

    }
  },
  methods: {
    searchUser() {},
    formatCurrencyAmount(value) {
        let val = (value/1).toFixed().replace('.', ',')
        this.customer.amount_limit =  val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
    },
    formatCurrencyDiscount(value) {
        let val = (value/1).toFixed().replace('.', ',')
        this.customer.regular_discount =  val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
    },
    open() {},
    async save() {
      try {
        let response = {}
        if (this.customer.partner_id === "") {
          this.customer.partner_id = this.$route.params.id
          this.customer.regular_discount = this.customer.regular_discount.replace(/\./g,'')
          this.customer.amount_limit = this.customer.amount_limit.replace(/\./g,'')
          response = await this.$axios.$post('/clients', this.customer)
        }else{
          response = await this.$axios.$put('/clients/'+ this.customer.id,{
              partner_type: this.customer.partner_type,
              partner_code: this.customer.partner_code,
              alias: this.customer.alias,
              address: this.customer.address,
              email: this.customer.email,
              regular_discount: this.customer.regular_discount.replace(/\./g,''),
              payment_methods: this.customer.payment_methods,
              amount_limit: this.customer.amount_limit.replace(/\./g,''),
              notification_to_ar: this.customer.notification_to_ar
            }
          )
        }
        if (response.error == false) {
          this.$router.push('/partner')
          alert("Berhasil manage sebagai customer")
        }else{
          this.$router.push('/partner')
          alert("Gagal manage sebagai customer")
        }
      } catch (error) {
        alert("Gagal manage sebagai customer, Pesan : [" + error.response.data.msg + "]")
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.slide-fade-enter-active {
  transition: all 0.3s ease;
}
.slide-fade-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
}
</style>
