<template>
  <div class="d-flex flex-column flex-grow-1">
    <div class="d-flex align-center py-3">
      <div>
        <div class="display-1">Partner</div>
        <v-breadcrumbs :items="breadcrumbs" class="pa-0 py-2"></v-breadcrumbs>
      </div>
      <v-spacer></v-spacer>
      <v-btn
          color="primary"
          dark
          to="/partner"
        >
        <v-icon>mdi-arrow-left</v-icon>
          Kembali
        </v-btn>
    </div>

     <v-card>
        <v-card-title>
          <span class="headline">Manage Tax Info</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col
                cols="12"
                sm="12"
                md="12"
                class="mt-0"
              >
                <v-text-field
                  label="Nomor NPWP*"
                  required
                  v-model="taxInfo.nomor_npwp"
                ></v-text-field>
                <v-text-field
                  label="Nama NPWP*"
                  required
                  v-model="taxInfo.nama_npwp"
                ></v-text-field>
                <v-menu
                  v-model="menu2"
                  :close-on-content-click="true"
                  :nudge-right="40"
                  transition="scale-transition"
                  offset-y
                  min-width="auto"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      v-model="taxInfo.tanggal_npwp"
                      label="Tanggal NPWP"
                      append-icon="mdi-calendar"
                      readonly
                      v-bind="attrs"
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-date-picker
                    v-model="taxInfo.tanggal_npwp"
                    @input="menu2 = false"
                  ></v-date-picker>
                </v-menu>
                <v-text-field
                  label="Address*"
                  required
                  v-model="taxInfo.address"
                ></v-text-field>
                <v-text-field
                  label="City*"
                  required
                  v-model="taxInfo.city"
                ></v-text-field>
                <v-text-field
                  label="No. Fax*"
                  required
                  v-model="taxInfo.no_fax"
                ></v-text-field>
              </v-col>
              <v-col
                cols="4"
                sm="4"
                md="4"
                class="pt-0"
              >
              <br>
                <p>Status PKP</p>
                </v-col>
                <v-col
                cols="8"
                sm="8"
                md="8"
                class="pt-0"
              >
                <v-radio-group
                v-model="taxInfo.status_pkp"
                row
                >
                <v-radio
                    label="Yes"
                    value="yes"
                ></v-radio>
                <v-radio
                    label="No"
                    value="no"
                ></v-radio>
                </v-radio-group>
                </v-col>
            </v-row>
          </v-container>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="blue darken-1"
            @click="save"
          >
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
  </div>
</template>


<script>

export default {
  created() {
    const t = localStorage.getItem("t")
    if (t === "crm") {
      // user loggged in
      // do nothing
    } else {
      this.$router.push('/login')
    }
  },
  async asyncData({ $axios, params }) {
    const taxInfo = await $axios.$get('/taxs?partner_id=' + params.id)
    console.log(taxInfo)
        if (taxInfo.data[0] !== undefined) {
          return { taxInfo: taxInfo.data[0] }
        }
      },
  components: {
  },
  data() {
    return {
      taxInfo: {
          partner_id:"",
          nomor_npwp:"",
          nama_npwp:"",
          tanggal_npwp:"",
          address:"",
          city:"",
          no_fax:"",
          status_pkp:"",
      },
      isLoading: false,
      breadcrumbs: [{
        text: 'Partner',
        disabled: false,
        href: '#'
      }, {
        text: 'Manage Tax Info'
      }],

      searchQuery: '',
      selectedUsers: [],
    }
  },
  watch: {
    selectedUsers(val) {

    }
  },
  methods: {
    searchUser() {},
    open() {},
    async save() {
      try {
        let response = {}
        if (this.taxInfo.partner_id === "") {
          this.taxInfo.partner_id = this.$route.params.id
          response = await this.$axios.$post('/taxs', this.taxInfo)
        }else{
          response = await this.$axios.$put('/taxs/'+ this.$route.params.id,{
              nomor_npwp: this.taxInfo.nomor_npwp,
              nama_npwp: this.taxInfo.nama_npwp,
              tanggal_npwp: this.taxInfo.tanggal_npwp,
              address: this.taxInfo.address,
              city: this.taxInfo.city,
              no_fax: this.taxInfo.no_fax,
              status_pkp: this.taxInfo.status_pkp
            }
          )
        }
        if (response.error == false) {
          this.$router.push('/partner')
          alert("Berhasil manage tax info")
        }else{
          this.$router.push('/partner')
          alert("Gagal manage tax info")
        }
      } catch (error) {
        alert("Gagal manage tax info, Pesan : [" + error.response.data.msg + "]")
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.slide-fade-enter-active {
  transition: all 0.3s ease;
}
.slide-fade-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
}
</style>
