<template>
  <div class="d-flex flex-column flex-grow-1">
    <div class="d-flex align-center py-3">
      <div>
        <div class="display-1">Partner</div>
        <v-breadcrumbs :items="breadcrumbs" class="pa-0 py-2"></v-breadcrumbs>
      </div>
      <v-spacer></v-spacer>
      <v-btn
          color="primary"
          dark
          to="/partner"
        >
        <v-icon>mdi-arrow-left</v-icon>
          Kembali
        </v-btn>
    </div>

    <v-card>
        <v-card-title>
          <span class="headline">Manage as Supplier</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col
                cols="12"
                sm="6"
                md="6"
              >
                <v-text-field
                  label="Partner Type"
                  required
                  v-model="supplier.partner_type"
                ></v-text-field>
                <v-text-field
                  label="Partner Code/ Name"
                  v-model="supplier.partner_code"
                ></v-text-field>
                <v-text-field
                  label="Alias / External Name*"
                  required
                  v-model="supplier.alias"
                ></v-text-field>
                <v-text-field
                  label="Address/ Lokasi*"
                  required
                  v-model="supplier.address"
                ></v-text-field>
                <v-text-field
                  label="Email Supplier*"
                  required
                  v-model="supplier.email"
                ></v-text-field>
              </v-col>
              <v-col
                cols="11"
                md="5"
              >
                <v-text-field
                  label="Regular Discount"
                  required
                  @focusout="formatCurrencyDiscount(supplier.regular_discount)"
                  v-model.number="supplier.regular_discount"
                ></v-text-field>
                <v-select
                  :items="paymenMethods"
                  label="Payment Methods*"
                  required
                  v-model="supplier.payment_methods"
                ></v-select>

                <v-text-field
                  label="Amount Limit*"
                  required
                  @focusout="formatCurrencyAmount(supplier.amount_limit)"
                  v-model="supplier.amount_limit"
                ></v-text-field>

                <v-radio-group
                v-model="supplier.notification_to_ar"
                row
                label="Notification to AR"
                >
                <v-radio
                    label="Yes"
                    value="true"
                ></v-radio>
                <v-radio
                    label="No"
                    value="false"
                ></v-radio>
                </v-radio-group>
              </v-col>
              <v-col
                cols="1"
                md="1"
              ><br><p>%</p>
              </v-col>
            </v-row>
          </v-container>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="blue darken-1"
            @click="save"
          >
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
  </div>
</template>


<script>

export default {
  created() {
    const t = localStorage.getItem("t")
    if (t === "crm") {
      // user loggged in
      // do nothing
    } else {
      this.$router.push('/login')
    }
  },
  async asyncData({ $axios, params }) {
    const supplier = await $axios.$get('/manage-supplier?partner_id=' + params.id)
    console.log(supplier)
        if (supplier.data[0] !== undefined) {
          let amountLimit = (supplier.data[0].amount_limit/1).toFixed().replace('.', ',')
          let discount = (supplier.data[0].regular_discount/1).toFixed().replace('.', ',')
          var amountLimitCurr = amountLimit.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
          var discountCurr = discount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
          supplier.data[0].amount_limit = amountLimitCurr
          supplier.data[0].regular_discount = discountCurr
          return { supplier: supplier.data[0] }
        }
      },
  components: {
  },
  data() {
    return {
      paymenMethods: ["cash", "cheque", "transfer", "giro"],
      isLoading: false,
      breadcrumbs: [{
        text: 'Partner',
        disabled: false,
        href: '#'
      }, {
        text: 'Manage as Supplier'
      }],
      options: {
        locale: "pt-BR",
        prefix: "R$",
        suffix: "",
        length: 11,
        precision: 2
      },
      supplier:{
          partner_id:"",
          partner_type: "",
          partner_code: "",
          alias: "",
          address: "",
          email: "",
          regular_discount: "0",
          payment_methods: "",
          amount_limit: "0",
          notification_to_ar: false
      },
      searchQuery: '',
      selectedUsers: [],
    }
  },
  watch: {
    selectedUsers(val) {

    }
  },
  methods: {
    searchUser() {},
    formatCurrencyAmount(value) {
        let val = (value/1).toFixed().replace('.', ',')
        this.supplier.amount_limit =  val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
    },
    formatCurrencyDiscount(value) {
        let val = (value/1).toFixed().replace('.', ',')
        this.supplier.regular_discount =  val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
    },
    open() {},
    async save() {
      // this.supplier.partner_id = this.$route.params.id
      // const response = await this.$axios.$post('/manage-supplier', this.supplier)
      try {
        let response = {}
        if (this.supplier.partner_id === "") {
          this.supplier.partner_id = this.$route.params.id
          this.supplier.regular_discount = this.supplier.regular_discount.replace(/\./g,'')
          this.supplier.amount_limit = this.supplier.amount_limit.replace(/\./g,'')
          response = await this.$axios.$post('/manage-supplier', this.supplier)
        }else{
          response = await this.$axios.$put('/manage-supplier/'+ this.supplier.id,{
              partner_type: this.supplier.partner_type,
              partner_code: this.supplier.partner_code,
              alias: this.supplier.alias,
              address: this.supplier.address,
              email: this.supplier.email,
              regular_discount: this.supplier.regular_discount.replace(/\./g,''),
              payment_methods: this.supplier.payment_methods,
              amount_limit: this.supplier.amount_limit.replace(/\./g,''),
              notification_to_ar: this.supplier.notification_to_ar
            }
          )
        }
        if (response.error == false) {
          this.$router.push('/partner')
          alert("Berhasil manage sebagai supplier")
        }else{
          this.$router.push('/partner')
          alert("Gagal manage sebagai supplier")
        }
      } catch (error) {
        alert("Gagal manage sebagai supplier, Pesan : [" + error.response.data.msg + "]")
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.slide-fade-enter-active {
  transition: all 0.3s ease;
}
.slide-fade-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
}
</style>
