<template>
  <div class="d-flex flex-column flex-grow-1">
    <div class="d-flex align-center py-3">
      <div>
        <div class="display-1">Partner</div>
        <v-breadcrumbs :items="breadcrumbs" class="pa-0 py-2"></v-breadcrumbs>
      </div>
      <v-spacer></v-spacer>
        <v-btn
          color="primary"
          dark
          to="/partner/add_partner"
        >
          Add Partner
        </v-btn>
    </div>
    <v-card>
      <!-- users list -->
      <v-row dense class="pa-2 align-center">
        <v-col cols="6">
        </v-col>
        <v-col cols="6" class="d-flex text-right align-center">
          <v-text-field
            v-model="searchQuery"
            append-icon="mdi-magnify"
            class="flex-grow-1 mr-md-2"
            solo
            hide-details
            dense
            clearable
            placeholder="e.g. filter for id, email, name, etc"
            @keyup.enter="searchUser(searchQuery)"
          ></v-text-field>
          <v-btn
            :loading="isLoading"
            icon
            small
            class="ml-2"
          >
            <v-icon>mdi-refresh</v-icon>
          </v-btn>
        </v-col>
      </v-row>

      <v-data-table
        v-model="selectedUsers"
        :headers="headers"
        :items="partners.data"
        :search="searchQuery"
        class="flex-grow-1"
      >
        <template v-slot:[`item.id`]="{ item }">
          <v-menu offset-y left>
            <template v-slot:activator="{ on }">
              <transition name="slide-fade" mode="out-in">
                <v-btn v-on="on">
                  Actions
                  <v-icon right>mdi-menu-down</v-icon>
                </v-btn>
              </transition>
            </template>
            <v-list dense width="150px">
              <v-list-item
              class="pl-0"
              :to="'/partner/'+ item.id +'/edit'"
              >
                <v-list-item-title
                >
                  Edit
                </v-list-item-title>
              </v-list-item>
              <v-divider></v-divider>
              <v-list-item
              class="pl-0"
              :to="'/partner/'+ item.id +'/manage_tax_info'"
              >
                <v-list-item-title>
                Manage Tax Info
                </v-list-item-title>
              </v-list-item>
              <v-divider></v-divider>
              <v-list-item
              class="pl-0"
              :to="'/partner/'+ item.id +'/manage_as_customer'"
              >
                <v-list-item-title>
                Manage as Customer
                </v-list-item-title>
              </v-list-item>
              <v-divider></v-divider>
              <v-list-item
              class="pl-0"
              :to="'/partner/'+ item.id +'/manage_as_supplier'"
              >
                <v-list-item-title>
                Manage as Supplier
                </v-list-item-title>
              </v-list-item>
              <v-divider></v-divider>
              <v-list-item
              class="pl-0"
              @click="deletePartner(item.id)"
              >
                <v-list-item-title>
                Delete
                </v-list-item-title>
              </v-list-item>
            </v-list>
          </v-menu>
        </template>

        <template v-slot:[`partners.partner_name`]="{ partners }">
          <div class="d-flex align-center py-1">
            <div class="ml-1 caption font-weight-bold">
              <copy-label :text="partners.partner_name" />
            </div>
          </div>
        </template>

        <template v-slot:[`partners.alias`]="{ partners }">
          <div class="d-flex align-center py-1">
            <div class="ml-1 caption font-weight-bold">
              <copy-label :text="partners.alias" />
            </div>
          </div>
        </template>

        <template v-slot:[`partners.category_business`]="{ partners }">
          <div class="d-flex align-center py-1">
            <div class="ml-1 caption font-weight-bold">
              <copy-label :text="partners.category_business" />
            </div>
          </div>
        </template>

        <template v-slot:[`partners.address`]="{ partners }">
          <div class="d-flex align-center py-1">
            <div class="ml-1 caption font-weight-bold">
              <copy-label :text="partners.address" />
            </div>
          </div>
        </template>
      </v-data-table>
    </v-card>
  </div>
</template>


<script>

export default {
  created() {
    const t = localStorage.getItem("t")
    if (t === "crm") {
      // user loggged in
      // do nothing
    } else {
      this.$router.push('/login')
    }
  },
  name:"PartnerIndex",
  components: {
  },
  data() {
    return {
      isLoading: false,
      breadcrumbs: [{
        text: 'Partner',
        disabled: false,
        href: '#'
      }, {
        text: 'List'
      }],

      searchQuery: '',
      selectedUsers: [],
      headers: [
        { text: 'Action', align: 'left', value: 'id' },
        { text: 'Partner Code/ Name', value: 'partner_name' },
        { text: 'Alias/ External Name', value: 'alias' },
        { text: 'Category Partner', align: 'left', value: 'category_business' },
        { text: 'Address', value: 'address_partner' },
        { text: 'Status', value: 'status' },
        { text: '', sortable: false, align: 'right', value: 'action' }
      ],
    }
  },
   async asyncData({ $axios }) {
    let partners = {}
    try {
      const request = await $axios.$get(
        '/partners')
        partners = request
    } catch (error) {
        alert("Oops data tidak ditemukan, silahkan hubungi administrator!")
    }
    return { partners}
    },
  watch: {
    selectedUsers(val) {
    }
  },
  methods: {
    searchUser() {},
    open() {},
    async deletePartner(id) {
      if(confirm("Apakah anda yakin akan menghapus data ini?")){
          let response = await this.$axios.$delete('/partners/'+ id)
          console.log(response)
          if (response.error == false) {
            alert("Data berhasil dihapus")
            this.$router.push('/partner')
          }else{
            alert("Data gagal dihapus")
            this.$router.push('/partner')
          }
        }
      }
    },
  }
</script>

<style lang="scss" scoped>
.slide-fade-enter-active {
  transition: all 0.3s ease;
}
.slide-fade-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
}
</style>
